@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inknut Antiqua', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inknut Antiqua';
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: 860px;
    display: flex;
}
.section-title-tee{
    background-image: url(../img/ПЕРВЫЙБЛОК.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title-template{
    background-image: url(../img/фон\ второго\ блока\ 1.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    
}
