@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inknut Antiqua', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inknut Antiqua';
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: 860px;
    display: flex;
    padding: 1px;
}
.section-title-tee{
    background-image: url(../img/ПЕРВЫЙБЛОК.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title-template{
    background-image: url(../img/фон\ второго\ блока\ 1.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    
}
main .section-stats{
    background-image: url(../img/Group\ 25.png);
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
     
 }
 main .section-stas{
    background-image: url(../img/Group\ 28.png);
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
     
 }
 main .sesection-sta{
    background-color: rgb(255, 255, 255); /*background-image: url(../img/Frame\ 2.png);*/
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
 }
 main .obratnsvaz{
    background-image: url(../img/Group\ 29.png);
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
     
 }
 footer .footerslova{
    background-image: url(../img/Group\ 30.png);
     background-repeat: no-repeat;
     height: 100px;
     background-size: cover;
     
 }
 header a{
    color: rgb(37, 50, 56);
}
.links {
    display: flex;
    justify-content: space-around;
    padding: 43px;
    font-size: 20px;
    width: 300%;
    letter-spacing: 3px;
}
.container .title h1 {
    font-size: 117px;
    display: flex;
    position: relative;
    top: 197px;
    letter-spacing: -5px;
    width: 967px;
    right: 360px;
}
.container .title h2 {
    font-size: 66px;
    display: flex;
    position: relative;
    top: 77px;
    letter-spacing: 33px;
    right: 351px;
    color: rgba(81, 94, 102, 1);
    width: 1000px;
}
header .title a {
    color: rgba(37, 50, 56, 1);
    text-decoration: none;
    user-select: none;
    background: rgba(249, 206, 249, 1);
    padding: 0.9em 5.5em;
    outline: none;
    position: absolute;
    left: 70px;
    bottom: 178px;
    font-size: 18px;
    letter-spacing: 7px;
}
.zagolovok {
    color: rgba(37, 50, 56, 1);
    font-size: 32px;
    margin-top: 43px;
    position: relative;
    right: -4%;
    width: 1000px;
}
.iconik {
    display: flex;
    position: relative;
    bottom: 256px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.iconik p {
    position: relative;
    bottom: 8px;
}
.iconik-1 p {
    position: relative;
    bottom: 8px;
}

.iconik-2 p {
    position: relative;
    bottom: 8px;
}
.iconik-2 {
    display: flex;
    position: relative;
    bottom: 152px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.iconik-3 p {
    position: relative;
    bottom: 8px;
}
.iconik-3 {
    display: flex;
    position: relative;
    bottom: 226px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.iconik-1 {
    display: flex;
    position: relative;
    bottom: 228px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.podrobnosti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    right: 336px;
    top: -19px;
}
.info {
    font-size: 22px;
    font-weight: bold;
    color: rgba(37, 50, 56, 1);
}
.info-2 {
    font-size: 15px;
    width: 102%;
}
.podrobnosti h3 {
    font-size: 31px;
    color: rgba(37, 50, 56, 1);
    font-weight: bold;
    position: relative;
   
}
.iconksi {
    position: relative;
    top: 31%;
    right: 83px;
}