@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inknut Antiqua', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Inknut Antiqua';
    color:rgba(37, 50, 56, 1)
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: 860px;
    display: flex;
    padding: 1px;
   
}
.section-title-tee{
    background-image: url(../img/ПЕРВЫЙБЛОК.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title-template{
    background-image: url(../img/фон\ второго\ блока\ 1.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    
}
main .section-stats{
    background-image: url(../img/Group\ 25.png);
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
     
 }
 main .section-stas{
    background-image: url(../img/Group\ 28.png);
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
     
 }
 main .sesection-sta{
    background-color: rgb(255, 255, 255); /*background-image: url(../img/Frame\ 2.png);*/
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
 }
 main .obratnsvaz{
    background-image: url(../img/Group\ 29.png);
     background-repeat: no-repeat;
     height: 800px;
     background-size: cover;
     
 }
 footer .footerslova{
    background-image: url(../img/Group\ 30.png);
     background-repeat: no-repeat;
     height: 100px;
     background-size: cover;
     
 }
 header a{
    color: rgb(37, 50, 56);
}
.links {
    display: flex;
    justify-content: space-around;
    padding: 43px;
    font-size: 20px;
    width: 300%;
    letter-spacing: 3px;
}
.container .title h1 {
    font-size: 117px;
    display: flex;
    position: relative;
    top: 197px;
    letter-spacing: -5px;
    width: 967px;
    right: 360px;
}
.container .title h2 {
    font-size: 66px;
    display: flex;
    position: relative;
    top: 77px;
    letter-spacing: 33px;
    right: 351px;
    color: rgba(81, 94, 102, 1);
    width: 1000px;
}
header .title a {
    color: rgba(37, 50, 56, 1);
    text-decoration: none;
    user-select: none;
    background: rgba(249, 206, 249, 1);
    padding: 0.9em 5.5em;
    outline: none;
    position: absolute;
    left: 70px;
    bottom: 53px;
    font-size: 18px;
    letter-spacing: 7px;
}
.zagolovok {
    color: rgba(37, 50, 56, 1);
    font-size: 32px;
    margin-top: 43px;
    position: relative;
    right: -4%;
    width: 1000px;
}
.iconik {
    display: flex;
    position: relative;
    bottom: 256px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.iconik p {
    position: relative;
    bottom: 8px;
}
.iconik-1 p {
    position: relative;
    bottom: 8px;
}

.iconik-2 p {
    position: relative;
    bottom: 8px;
}
.iconik-2 {
    display: flex;
    position: relative;
    bottom: 152px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.iconik-3 p {
    position: relative;
    bottom: 8px;
}
.iconik-3 {
    display: flex;
    position: relative;
    bottom: 226px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.iconik-1 {
    display: flex;
    position: relative;
    bottom: 228px;
    left: 42px;
    width: 25px;
    height: 25px;
}
.podrobnosti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    right: 336px;
    top: -19px;
}
.info {
    font-size: 22px;
    font-weight: bold;
    color: rgba(37, 50, 56, 1);
}
.info-2 {
    font-size: 15px;
    width: 102%;
}
.podrobnosti h3 {
    font-size: 31px;
    color: rgba(37, 50, 56, 1);
    font-weight: bold;
    position: relative;
   
}
.iconksi {
    position: relative;
    top: 31%;
    right: 83px;
}
.linia img {
    width: 742px;
    height: 381px;
    position: relative;
    right: -205px;
    top: -124px;
}
.abotput {
    display: flex;
    width: 261px;
    bottom: 101px;
    position: relative;
    right: -113px;
}
.abotput-2 {
    display: flex;
    width: 355px;
    bottom: 429px;
    position: relative;
    right: -452px;
}
.abotput-3 {
    display: flex;
    width: 261px;
    bottom: 720px;
    position: relative;
    left: 800px;
}
.icons-5 {
    display: flex;
    font-size: 19px;
    position: relative;
    right: -49px;
    width: 176px;
}
.icons-6 {
    display: flex;
    font-size: 19px;
    position: relative;
    right: -49px;
    width: 176px;
}
.icons-7 {
    display: flex;
    font-size: 19px;
    position: relative;
    width: 176px;
    right: -49px;
}
.arseic {
    margin-top: 102px;
    display: flex;
    gap: 35px;
    flex-direction: column;
    right: 465px;
    position: relative;
    top: 263px;
}
.photoislovoo {
    font-size: 22px;
    position: relative;
    top: 6px;
    display: flex;
    right: -10px;
}
.photoiconkaa img {
    width: 18px;
}
.arsenal {
    font-weight: bold;
    font-size: 26px;
    position: relative;
    bottom: -202px;
    right: 99%;
    width: 205%;
}
.instruments {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 10px;
    bottom: -237px;
}
.zagolovoook {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: -89px;
    right: -169px;
}
.instrumentsoo {
    width: 276px;
    position: relative;
    font-size: 25px;
    top: -4px;
    right: -13px;
}
.ikonkiinstrumentov {
    width: 58px;
}
.ikonkiinstrumentov img {
    width: 49px;
    height: 51px;
}
.point img {
    width: 2893%;
    padding: 17px;
    position: relative;
    bottom: 75px;
    top: 147px;
    right: 243px;
}
.opisanieschool {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -18px;
    width: 345px;
}
.aboutschool {
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    position: relative;
    top: -307px;
    gap: 11px;
}
.arsenaltochkiiiii {
    display: flex;
    flex-direction: column;
    width: 17px;
    height: 17px;
    gap: 57px;
}
.knopka {
    color: rgba(37, 50, 56, 1);
    user-select: none;
    position: relative;
    right: 362px;
    top: 141px;
}
.knopka a {
    background-color: rgba(248, 212, 248, 1);
    padding: 0px 209px;
    position: relative;
    right: -172px;
    top: 861px;
    font-weight: lighter;
}
.sovo {
    display: flex;
    gap: 15px;
    position: relative;
    right: -291px;
    top: 803px;
}
.instrumentsoo {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -4px;
    right: -12px;
}
.photoiconkaa {
    position: relative;
    top: 26px;
    display: flex;
    height: 19px;
    width: 19px;
}
.portfolioo h2 {
    width: 227%;
    font-size: 34px;
}
.obratnsvazzzz {
    display: flex;
    width: 1200px;
    justify-content: center;
    position: relative;
    top: -51px;
}

.formmm {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 401px;
    display: flex;
    position: relative;
    right: 46%;
    bottom: -186px;
    height: 500px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: rgba(248, 212, 248, 1);
    color: rgba(37, 50, 56, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    right: -19%;
    top: 21px;
}

button[type="submit"]:hover {
    background-color: #9c9c9c;
}
form {
    width: 350px;
}
.footerslova {
    background-image: url(../img/Group\ 30.png);
    background-repeat: no-repeat;
    height: 100px;
    background-size: cover;
    width: 1200px;
}
.footerslovap {
    display: flex;
    justify-content: space-around;
    padding: 43px;
    font-size: 13px;
    width: 1200px;
    letter-spacing: 2px;
}
.footerslova .container{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
   
    display: flex;
    padding: 1px;
}
footer .footerslova {
    background-image: url(../img/Group\ 30.png);
    background-repeat: no-repeat;
    height: 100px;
    background-size: cover;
    width: 1200px;
}
@media (max-width: 1200px) {
    .container{
        width: 950px;
    }
    .links {
        display: flex;
        justify-content: space-around;
        padding: 29px;
        font-size: 14px;
        width: 300%;
        letter-spacing: 3px;
        position: relative;
        right: 56px;
    }
    .container .title h1 {
        font-size: 98px;
        display: flex;
        position: relative;
        top: 197px;
        letter-spacing: -5px;
        width: 967px;
        right: 360px;
    }
    .container .title h2 {
        font-size: 46px;
        display: flex;
        position: relative;
        top: 104px;
        letter-spacing: 33px;
        right: 351px;
        color: rgba(81, 94, 102, 1);
        width: 1000px;
    }
    header .title a {
        color: rgba(37, 50, 56, 1);
        text-decoration: none;
        user-select: none;
        background: rgba(249, 206, 249, 1);
        padding: 0.9em 5.5em;
        outline: none;
        position: absolute;
        left: 270px;
        bottom: 53px;
        font-size: 18px;
        letter-spacing: 7px;
        display: flex;
        justify-content: space-around;
    }
    .podrobnosti {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        position: relative;
        right: -101px;
        top: -15px;
    }
    .phopto {
        opacity: 0;
    }
    .iconksi {
        position: relative;
        top: 66%;
        right: -72px;
    }
    .linia img {
        width: 742px;
        height: 381px;
        position: relative;
        right: -205px;
        top: -124px;
        opacity: 0;
    }
    .abotput {
        display: flex;
        width: 261px;
        bottom: 145px;
        position: relative;
        right: -113px;
    }
    .abotput-2 {
        display: flex;
        width: 355px;
        bottom: 429px;
        position: relative;
        right: -386px;
    }
    .abotput-3 {
        display: flex;
        width: 261px;
        bottom: 720px;
        position: relative;
        left: 691px;
    }
    .instruments {
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 253px;
        bottom: -237px;
    }
    .arsenal {
        font-weight: bold;
        font-size: 26px;
        position: relative;
        bottom: -168px;
        right: 272%;
        width: 205%;
    }
    .zagolovoook {
        font-weight: bold;
        font-size: 36px;
        position: relative;
        top: -89px;
        
        right: -258px;
    }
    .point img {
        width: 2893%;
        padding: 13px;
        position: relative;
        bottom: 75px;
        top: 212px;
        right: 314px;
    }
    .portfolioo h2 {
        width: 227%;
        font-size: 23px;
        position: relative;
        top: 40px;
    }
    .sovo {
        display: flex;
        gap: 15px;
        position: relative;
        right: -84px;
        top: 803px;
    }
    .knopka {
        color: rgba(37, 50, 56, 1);
        user-select: none;
        position: relative;
        right: 748px;
        top: 141px;
    }
    .obratnsvazzzz {
        display: flex;
        width: 950px;
        justify-content: center;
        position: relative;
        top: -51px;
        right: 145px;
    }
    .formmm {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 401px;
        display: flex;
        position: relative;
        right: 111%;
        bottom: -186px;
        height: 500px;
    }
    .footerslovap {
        display: flex;
        justify-content: space-around;
        padding: 29px;
        font-size: 11px;
        width: 951px;
        letter-spacing: 2px;
        gap: 38px;
    }
    .footerslova .container{
        height: 100px;
        width: 950px;
        margin: 0 auto;
       
        display: flex;
        padding: 1px;
    }
    footer .footerslova {
        background-image: url(../img/Group\ 30.png);
        background-repeat: no-repeat;
        height: 100px;
        background-size: cover;
        width: 950px;
    }
}
@media (max-width: 992px) {
    .container{
        width: 720px;
    }
    .links {
        display: flex;
        justify-content: space-around;
        padding: 29px;
        font-size: 19px;
        width: 300%;
        letter-spacing: 3px;
        position: relative;
        right: 56px;
        flex-direction: column;
    }
    .container .title h1 {
        font-size: 80px;
        display: flex;
        position: relative;
        top: 229px;
        letter-spacing: -5px;
        width: 967px;
        right: 210px;
    }
    .container .title h2 {
        font-size: 36px;
        display: flex;
        position: relative;
        top: 173px;
        letter-spacing: 27px;
        right: 210px;
        color: rgba(81, 94, 102, 1);
        width: 1000px;
    }
    header .title a {
        color: rgba(37, 50, 56, 1);
        text-decoration: none;
        user-select: none;
        background: rgba(249, 206, 249, 1);
        padding: 0.9em 5.5em;
        outline: none;
        position: absolute;
        left: 150px;
        bottom: 53px;
        font-size: 18px;
        letter-spacing: 7px;
        display: flex;
        justify-content: space-around;
    }
    .podrobnosti {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        position: relative;
        right: -36px;
        top: -15px;
    }
    .iconik {
        display: flex;
        position: relative;
        bottom: 256px;
        left: -600px;
        width: 25px;
        height: 25px;
        top: -194px;
    }
    .iconik-1 {
        display: flex;
        position: relative;
        bottom: 228px;
        left: -466px;
        width: 25px;
        height: 25px;
        top: -220px;
    }
    .iconik-2 {
        display: flex;
        position: relative;
        bottom: 152px;
        left: -465px;
        width: 25px;
        height: 25px;
        top: -195px;
    }
    .abotput {
        display: flex;
        width: 261px;
        bottom: 145px;
        position: relative;
        right: -35px;
    }
    .abotput-2 {
        display: flex;
        width: 355px;
        bottom: 429px;
        position: relative;
        right: -264px;
    }
    .abotput-3 {
        display: flex;
        width: 261px;
        bottom: 720px;
        position: relative;
        left: 427px;
    }
    .instruments {
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 493px;
        bottom: -475px;
    }
    .arsenal {
        font-weight: bold;
        font-size: 26px;
        position: relative;
        bottom: -168px;
        right: 272%;
        width: 393%;
    }
    .icons-5 {
        display: flex;
        font-size: 19px;
        position: relative;
        right: -46px;
        width: 176px;
        top: -85px;
    }
    .icons-7 {
        display: flex;
        font-size: 19px;
        position: relative;
        width: 176px;
        right: -47px;
        top: -230px;
    }
    .point img {
        width: 2889%;
        padding: 9px;
        position: relative;
        bottom: 75px;
        top: 259px;
        right: 313px;
    }
    .portfolioo h2 {
        width: 227%;
        font-size: 28px;
        position: relative;
        top: -17px;
    }
    .sovo {
        display: flex;
        gap: 15px;
        position: relative;
        right: 41px;
        top: 757px;
    }
    
    .icons-6 {
    display: flex;
    font-size: 19px;
    position: relative;
    right: -49px;
    width: 194px;
    top: -100px;
}
    .iconik-3 {
        display: flex;
        position: relative;
        bottom: 226px;
        left: -599px;
        width: 25px;
        height: 25px;
        top: -223px;
    }
    .opisanieschool {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -18px;
        width: 272px;
        font-size: 16px;
    }
    .obratnsvazzzz {
        display: flex;
        width: 720px;
        justify-content: center;
        position: relative;
        top: -51px;
        right: 145px;
    }
    .formmm {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 401px;
        display: flex;
        position: relative;
        right: 126%;
        bottom: -186px;
        height: 500px;
    }
    footer .footerslova {
        background-image: url(../img/Group\ 30.png);
        background-repeat: no-repeat;
        height: 100px;
        background-size: cover;
        width: 720px;
    }
    .footerslovap {
        display: flex;
        justify-content: space-around;
        padding: 29px;
        font-size: 8px;
        width: 720px;
        letter-spacing: 2px;
        gap: 38px;
    }
}
@media (max-width: 768px) {
    .container{
        width:  540px;
    }
    .links {
        display: flex;
        justify-content: space-around;
        padding: 29px;
        font-size: 19px;
        width: 300%;
        letter-spacing: 3px;
        position: relative;
        right: -11px;
        flex-direction: column;
    }
    .container .title h1 {
        font-size: 62px;
        display: flex;
        position: relative;
        top: 276px;
        letter-spacing: -5px;
        width: 967px;
        right: 134px;
    }
    .container .title h2 {
        font-size: 35px;
        display: flex;
        position: relative;
        top: 226px;
        letter-spacing: 16px;
        right: 138px;
        color: rgba(81, 94, 102, 1);
        width: 1000px;
    }
    .section-title-template {
        background-image: url(../img/фон\ второго\ блока\ 1.png);
        background-repeat: no-repeat;
        height: 1170px;
        background-size: cover;
    }
    .iconksi {
        position: relative;
        top: 100%;
        right: -300px;
    }
    .iconik {
        display: flex;
        position: relative;
        bottom: 256px;
        left: -464px;
        width: 25px;
        height: 25px;
        top: -94px;
    }
    .footerslovap {
        display: flex;
        justify-content: space-around;
        padding: 29px;
        font-size: 8px;
        width: 540px;
        letter-spacing: 2px;
        gap: 38px;
    }
    footer .footerslova {
        background-image: url(../img/Group\ 30.png);
        background-repeat: no-repeat;
        height: 100px;
        background-size: cover;
        width: 540px;
    }
    .abotput-2 {
        display: flex;
        width: 355px;
        bottom: 429px;
        position: relative;
        right: -181px;
    }
    .abotput-3 {
        display: flex;
        width: 261px;
        bottom: 720px;
        position: relative;
        left: 287px;
    }
    .arsenal {
        font-weight: bold;
        font-size: 30px;
        position: relative;
        bottom: -168px;
        right: 189%;
        width: 393%;
    }
    .opisanieschool {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -7px;
        width: 195px;
        font-size: 13px;
    }
    main .obratnsvaz {
        background-image: url(../img/Group\ 29.png);
        background-repeat: no-repeat;
        height: 800px;
        background-size: cover;
        width: 540px;
    }
    .obratnsvazzzz {
        display: flex;
        width: 720px;
        justify-content: center;
        position: relative;
        top: -51px;
        right: 126px;
    }
    .arseic {
        margin-top: 102px;
        display: flex;
        gap: 35px;
        flex-direction: column;
        right: 381px;
        position: relative;
        top: 279px;
    }
    main .section-stas {
        background-image: url(../img/Group\ 28.png);
        background-repeat: no-repeat;
        height: 917px;
        background-size: cover;
    }
    .instruments {
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 787px;
        bottom: -564px;
    }
    .iconik-3 {
        display: flex;
        position: relative;
        bottom: 226px;
        left: -465px;
        width: 25px;
        height: 25px;
        top: -119px;
    }
    .podrobnosti {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        position: relative;
        right: 337px;
        top: 463px;
    }
    header .title a {
        color: rgba(37, 50, 56, 1);
        text-decoration: none;
        user-select: none;
        background: rgba(249, 206, 249, 1);
        padding: 0.9em 5.5em;
        outline: none;
        position: absolute;
        left: 98px;
        bottom: 53px;
        font-size: 14px;
        letter-spacing: 7px;
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 576px) {
    .container{
        width:  98%;
    }
}
@media (max-width: 480px) {
    .container{
        width:  98%;
    }
}



